*{
    margin: 0;
    padding: 0;
}
body{

    font-family: arial, helvetica, sans-serif;
    background-color: black;
    background-image: url(../imagens/estagiochoque.jpeg);
    background-size: cover;


}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}
.title{
    font-size: 26px;
}
section{
    padding: 20px;
    background-image: url(../imagens/corrida-do-choqueano-guarabira_2024.webp);
    background-size: cover;
    overflow: hidden;
}
.formContainer{
    max-width: 230px;
    background-color: #ffffffBB;
    padding: 20px;
    float: right;

}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 10px;
}
input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}
select{
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     /* aqui e para colocar uma imagem de seta para que ela apareça na ponta da caixa de seleção
     background-image: url();
     background-repeat: no-repeat;
     background-position: calc(100%-10px) center;*/
   
}
.picture{
    width: 160px;
}